<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aturstudio.dao.AnnotationDispatchMapper">
  <resultMap id="BaseResultMap" type="com.aturstudio.entity.AnnotationDispatch">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sentence_id" jdbcType="INTEGER" property="sentenceId" />
    <result column="annotator_id" jdbcType="INTEGER" property="annotatorId" />
    <result column="annotated" jdbcType="INTEGER" property="annotated" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sentence_id, annotator_id, annotated
  </sql>
  <select id="selectByExample" parameterType="com.aturstudio.entity.AnnotationDispatchExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from annotation_dispatch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from annotation_dispatch
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from annotation_dispatch
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.aturstudio.entity.AnnotationDispatchExample">
    delete from annotation_dispatch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aturstudio.entity.AnnotationDispatch">
    insert into annotation_dispatch (id, sentence_id, annotator_id, 
      annotated)
    values (#{id,jdbcType=INTEGER}, #{sentenceId,jdbcType=INTEGER}, #{annotatorId,jdbcType=INTEGER}, 
      #{annotated,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.aturstudio.entity.AnnotationDispatch">
    insert into annotation_dispatch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sentenceId != null">
        sentence_id,
      </if>
      <if test="annotatorId != null">
        annotator_id,
      </if>
      <if test="annotated != null">
        annotated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sentenceId != null">
        #{sentenceId,jdbcType=INTEGER},
      </if>
      <if test="annotatorId != null">
        #{annotatorId,jdbcType=INTEGER},
      </if>
      <if test="annotated != null">
        #{annotated,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aturstudio.entity.AnnotationDispatchExample" resultType="java.lang.Long">
    select count(*) from annotation_dispatch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update annotation_dispatch
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sentenceId != null">
        sentence_id = #{record.sentenceId,jdbcType=INTEGER},
      </if>
      <if test="record.annotatorId != null">
        annotator_id = #{record.annotatorId,jdbcType=INTEGER},
      </if>
      <if test="record.annotated != null">
        annotated = #{record.annotated,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update annotation_dispatch
    set id = #{record.id,jdbcType=INTEGER},
      sentence_id = #{record.sentenceId,jdbcType=INTEGER},
      annotator_id = #{record.annotatorId,jdbcType=INTEGER},
      annotated = #{record.annotated,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aturstudio.entity.AnnotationDispatch">
    update annotation_dispatch
    <set>
      <if test="sentenceId != null">
        sentence_id = #{sentenceId,jdbcType=INTEGER},
      </if>
      <if test="annotatorId != null">
        annotator_id = #{annotatorId,jdbcType=INTEGER},
      </if>
      <if test="annotated != null">
        annotated = #{annotated,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aturstudio.entity.AnnotationDispatch">
    update annotation_dispatch
    set sentence_id = #{sentenceId,jdbcType=INTEGER},
      annotator_id = #{annotatorId,jdbcType=INTEGER},
      annotated = #{annotated,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>